/target/
*.class
*.log
*.tmp
*.swp
/sauvegardes/
*.save.json
/.idea/
*.iml
/.classpath
/.project
/.settings/
/.vscode/*
!/.vscode/extensions.json
!/.vscode/launch.json
.env
.env.*
*.pem
*.key
Thumbs.db
.DS_Store
